
<header class="header black-bg" style="color:#FFFFF">
	<div class="sidebar-toggle-box">
		<div class="fa fa-bars tooltips" data-placement="right"
			data-original-title="Toggle Navigation"></div>
	</div>
	<!--logo start-->
	<a class="logo" th:href="@{/home/index}"><b>QH<span>SHOP</span></b></a>
	
			
	<div class="top-menu">
	
		<ul class="nav pull-right top-menu">
			<li><a class="logout" th:href="@{/admin/sell/view}">Bán hàng</a></li>
			<li><a class="logout" th:href="@{/security/logoff}">Đăng xuất</a></li>
		</ul>
	</div>
</header>