
<div class="banner" style="border-radius: 6px; box-shadow: 0 0 8px 0 #dee2e6;">
            <div class="main-banner owl-carousel">
                <div class="item">
                    <a  ><img src="/assets/images/bannerQuanAo1.jpg" alt="Main Banner" class="img-responsive" /></a>
                </div>
                <div class="item">
                    <a href="#"><img src="/assets/images/bannerQuanAo1.jpg" alt="Main Banner" class="img-responsive" /></a>
                </div>
                <div class="item">
                    <a href="#"><img src="/assets/images/bannerQuanAo1.jpg" alt="Main Banner" class="img-responsive" /></a>
                </div>
            </div>
        </div>