<div xmlns:th="http://www.thymeleaf.org" id="category-menu"
     class=" collapse in " aria-expanded="true" role="button">

    <div class="text-center">
        <div style="box-shadow: 0 0 8px 0 #dee2e6;border-radius: 6px;">
            <img src="/assets/images/bannernho3.png"
                 style="height: 147.5px;box-shadow: 0 0 8px 0 #dee2e6;border-radius: 6px;"/>
        </div>
    </div>

</div>
<div class="filter filter-timkiem left-sidebar-widget mb_50">
    <div class="heading-part ">
        <h2 class="main_title">Tìm kiếm nâng cao</h2>
    </div>

    <form th:action="@{/product/list/find/1}">
        <p style="padding-left: 11px">
            <label for="amount">Giá:</label>
            <input type="text" id="amount1" readonly style="border:0; color: #198997; font-weight:bold;">
            <input type="hidden" th:value="MinPrice" id="amount2" name="MinPrice" readonly>
            <input type="hidden" th:value="MaxPrice" id="amount3" name="MaxPrice" readonly>
        </p>
        <div id="slider-range"></div>

        <div class="form-group form-group-search">
            <div class="col-sm-6 name">Loại sản phẩm</div>
            <div class="col-sm-6">
                <select name="Category_id" data-live-search="true" class="form-control text-center">
                    <option hidden="true" value="">Tất cả</option>
                    <div class="form-group selectpicker show-tick" th:each="c,state:${cates}">
                        <option th:value="${c.Category_id}">[[${c.name}]]</option>
                    </div>
                </select>
            </div>
        </div>

        <div class="form-group form-group-search">
            <div class="col-sm-6 name">Thương hiệu</div>
            <div class="col-sm-6">
                <select name="Trademark_id" data-live-search="true" class="form-control text-center">
                    <option hidden="true" value="">Tất cả</option>
                    <div class="form-group selectpicker show-tick" th:each="t,state:${trads}">
                        <option th:value="${t.Trademark_id}">[[${t.Name}]]</option>
                    </div>
                </select>
            </div>
        </div>

        <div class="form-group form-group-search">
            <div class="col-sm-6 name">Kích thước</div>
            <div class="col-sm-6">
                <select name="Size_id" data-live-search="true" class="form-control text-center">
                    <option hidden="true" value="">Tất cả</option>
                    <div class="form-group selectpicker show-tick" th:each="s,state:${size}">
                        <option th:value="${s.Size_id}">[[${s.name}]]</option>
                    </div>
                </select>
            </div>
        </div>

        <div class="form-group form-group-search">
            <div class="col-sm-6 name">Màu Sắc</div>
            <div class="col-sm-6">
                <select name="Color_id" data-live-search="true" class="form-control text-center">
                    <option hidden="true" value="">Tất cả</option>
                    <div class="form-group selectpicker show-tick" th:each="co,state:${colors}">
                        <option th:value="${co.Color_id}">[[${co.name}]]</option>
                    </div>
                </select>
            </div>
        </div>

        <div class="form-group form-group-search">
            <div class="col-sm-6 name">Chất Liệu</div>
            <div class="col-sm-6">
                <select name="Material_id" data-live-search="true" class="form-control text-center">
                    <option hidden="true" value="">Tất cả</option>
                    <div class="form-group selectpicker show-tick" th:each="m,state:${materials}">
                        <option th:value="${m.Material_id}">[[${m.name}]]</option>
                    </div>
                </select>
            </div>
        </div>
        <div class="form-group form-group-search text-center">
            <button class="btn btn-round btn-default" style="margin-top: 10px;" type="submit">Tìm kiếm</button>
        </div>
    </form>

</div>

<!--<div class="left_banner left-sidebar-widget mb_50 ">-->
<!--<div class="sub-hover" style="box-shadow: 0 0 10px 0 #dee2e6;">-->
<!--	<a href="/product/detail/11"><img src="/assets/images/Banner/iph.png" alt="Left Banner"-->
<!--		class="img-responsive" /></a>-->
<!--		</div>-->
<!--	-->
<!--</div>-->
<!--<div class="left_banner left-sidebar-widget mb_50">-->
<!--		<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FGoalKilles%2F&tabs=timeline&width=280&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1759690680890768" width="100%" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>-->
<!--		</div>-->

<script>
    $(function () {
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 1000000,
            values: [0, 1000000],
            slide: function (event, ui) {
                $("#amount1").val(ui.values[0] + " Đ - " + ui.values[1] + " Đ");
                $("#amount2").val(ui.values[0]);
                $("#amount3").val(ui.values[1]);
            }

        });
        $("#amount1").val($("#slider-range").slider("values", 0) + " Đ" +
            " - " + $("#slider-range").slider("values", 1) + " Đ");
        $("#amount2").val($("#slider-range").slider("values", 0));
        $("#amount3").val($("#slider-range").slider("values", 1));
    });
</script>

