
<div class="container">
	<div class="row">
		<div class="col-md-3 footer-block">
			<h6 class="footer-title ptb_20">Thông tin</h6>
			<ul>
				<li><a href="#">Về chúng tôi</a></li>
				<li><a href="#">Thông tin giao hàng</a></li>
				<li><a href="#">Chính sách bảo mật</a></li>
				<li><a href="#">Điều khoản và điều kiện</a></li>
				<li><a href="contact.html">Liên hệ chúng tôi</a></li>
			</ul>
		</div>
		<div class="col-md-3 footer-block">
			<h6 class="footer-title ptb_20">DỊCH VỤ</h6>
			<ul>
				<li><a href="#">Lợi nhuận</a></li>
				<li><a href="#">Sơ đồ trang web</a></li>
				<li><a href="#">Danh sách mong muốn</a></li>
				<li><a href="#">Tài khoản của tôi</a></li>
				<li><a href="#">lịch sử đơn hàng</a></li>
			</ul>
		</div>
		<div class="col-md-3 footer-block">
			<h6 class="footer-title ptb_20">Bổ sung</h6>
			<ul>
				<li><a href="#">Nhãn hiệu</a></li>
				<li><a href="#">Phiếu quà tặng</a></li>
				<li><a href="#">Chí nhánh</a></li>
				<li><a href="#">Đặc biệt</a></li>
				<li><a href="#">Bản tin</a></li>
			</ul>
		</div>
		<div class="col-md-3 footer-block">
			<h6 class="footer-title ptb_20">Liên hệ</h6>
			<ul>
				<li>Qhshop tp. Hà Nội</li>
				<li>(+123) 456 789 <br> (+024) 666 888
				</li>
				<li>qhshopfpt@gmail.com</li>
			</ul>
		</div>
	</div>
</div>
<div class="footer-bottom mt_60 ptb_20">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="social_icon">
					<ul>
						<li><a href="https://www.facebook.com/GoalKilles"
							target="_blank"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://myaccount.google.com/" target="_blank"><i
								class="fa fa-google"></i></a></li>
						<li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" target="_blank"><i class="fa fa-rss"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="copyright-part text-center">@ 2024 Bản quyền thuộc
					về QhShop</div>
			</div>
			<div class="col-sm-4">
				<div class="payment-icon text-right">
					<ul>
						<li><i class="fa fa-cc-paypal "></i></li>

					</ul>
				</div>
			</div>
		</div>
	</div>
</div>