<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="dynamic(main)">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QhShop</title>
    <link rel="stylesheet" type="text/css"
          href="/assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/owl.carousel.css">

    <link rel="shortcut icon" href="/assets/images/faviconGS.png">
    <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72"
          href="/assets/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114"
          href="/assets/images/apple-touch-icon-114x114.png">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="/assets/ckeditor/ckeditor.js" type="text/javascript"></script>
</head>

<body ng-app="shopping-cart-app" ng-controller="shopping-cart-ctrl">
<div class="wrapper">
    <header id="header">
        <div class="header-top">
            <div th:replace="user/layout/_hearder.html"></div>
        </div>
        <div class="header">
            <div th:replace="user/layout/_menu.html"></div>
        </div>

    </header>
    <div class="container">
        <div class="row ">
            <div th:replace="${main}"></div>


        </div>

    </div>
    <div id="fb-root"></div>
    <!--		<script async defer crossorigin="anonymous"-->
    <!--			src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v12.0&appId=1759690680890768&autoLogAppEvents=1"-->
    <!--			nonce="xfm4qFPd"></script>-->

    <div class="footer pt_60">

        <div th:replace="user/layout/_footer.html"></div>
    </div>
</div>
<script>

</script>
<script src="/assets/js/jQuery_v3.1.1.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.magnific-popup.js"></script>
<script src="/assets/js/jquery.firstVisitPopup.js"></script>
<script src="/assets/js/custom.js"></script>
<script src="/assets/js/jquery-ui.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT3mI0RI16q19Oxv93gSxN0cF0wfxWN6w">
</script>
<script src="js/map.js"></script>
<script src="js/mail.js"></script>
<!-- Shopping Cart JS -->
<script src="/assets/js/shopping-cart-app.js"></script>
<script src="/assets/js/price.js"></script>
<script>
    const validatePhone = (text) => {
        if (text == null || text == undefined || text.length == 0) {
            return "Vui lòng nhập số điện thoại";
        }
        var regex = /^(0[3|5|7|8|9])+([0-9]{8})\b$/i;
        if (text.match(regex))
            return "";
        return "SĐT không hợp lệ, phải gồm 10 chữ số và bắt đầu bằng 03, 05, 07, 08 hoặc 09";
    }
    // const validateCardId = (text) => {
    // 	if (text == null || text == undefined || text.length == 0) {
    // 		return "Vui lòng nhập căn cước công dân";
    // 	}
    // 	var regex = /^[0-9]{12}$/i;
    // 	if (text.match(regex))
    // 		return "";
    // 	return "Căn cước công dân không hợp lệ, phải gồm 12 chữ số";
    // }
    const validateAddress = (text) => {
        if (text == null || text == undefined || text.length == 0) {
            return "Vui lòng nhập địa chỉ giao hàng";
        }
        return "";
    }
    $('#payment').click(function () {
        if (validatePhone($('#phone').val()) != "") {
            alert(validatePhone($('#phone').val()));
            return;
        }
        if (validateAddress($('#address').val()) != "") {
            alert(validateAddress($('#address').val()));
            return;
        }
        $('#myModal').modal('show');
    });
</script>
<script>
    document.getElementById('add-to-cart').addEventListener('click', function() {
        // Simulate adding to cart process
        setTimeout(function() {
            alert('Đã thêm vào giỏ hàng thành công!'); // Display alert confirming successful addition
        }, 0); // Simulate 1-second delay for adding to cart
    });
</script>
</body>

</html>