<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/layout/index :: dynamic(~{::main})}">


<body>
<main>
    <div class="row mt">
        <div class="col-md-12">
            <div class="content-panel">
                <h3>
                    &emsp;<i class="fa fa-angle-right"></i> Thêm mới sản phẩm
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a style="float: right; padding: 0 15px;" tH:href=@{/admin/product/list}>
                        <i class="fa fa-mail-reply" style="font-size:18px"></i> Quay lại danh sách
                    </a>
                </h3>
                <div class="panel-body">
                    <form th:action="@{/admin/product/create}" method="post" modelAttribute="pro" enctype="multipart/form-data">
                        <div class="row">
                            <!--					<div class="col-sm-4 text-center">-->
                            <!--						<label for="image1"> <img-->
                            <!--							th:src="@{|/assets/images/${pro.Image1}|}"-->
                            <!--							style="max-width: 100%; height: 200px;" alt="ảnh 1">-->
                            <!--						</label>-->
                            <!--						<label for="image2"> <img-->
                            <!--							th:src="@{|/assets/images/${pro.Image2}|}"-->
                            <!--							style="max-width: 50%; height: 100px;" alt="ảnh 2">-->
                            <!--						</label>-->
                            <!--						<label for="image3"> <img-->
                            <!--							th:src="@{|/assets/images/${pro.Image3}|}"-->
                            <!--							style="max-width: 50%; height: 100px;" alt="ảnh 3">-->
                            <!--						</label>-->
                            <!--						<label for="image4"> <img-->
                            <!--							th:src="@{|/assets/images/${pro.Image4}|}"-->
                            <!--							style="max-width: 50%; height: 100px;" alt="ảnh 4">-->
                            <!--						</label>-->
                            <!--						<label for="image5"> <img-->
                            <!--							th:src="@{|/assets/images/${pro.Image5}|}"-->
                            <!--							style="max-width: 50%; height: 100px;" alt="ảnh 5">-->
                            <!--						</label>-->
                            <!--						<label for="image6"> <img-->
                            <!--							th:src="@{|/assets/images/${pro.Image6}|}"-->
                            <!--							style="max-width: 50%; height: 100px;" alt="ảnh 6">-->
                            <!--						</label>-->
                            <!--						<label for="image7"> <img-->
                            <!--							th:src="@{|/assets/images/${pro.Image7}|}"-->
                            <!--							style="max-width: 50%; height: 100px;" alt="ảnh 7">-->
                            <!--						</label>-->
                            <!--					</div>-->
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <div>Mã sản phẩm : </div>
                                        <input type="number" name="Product_id" class="form-control" readonly="readonly">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <div>Tên sản phẩm</div>
                                        <input type="text"  name="Name" th:value="${pro.Name}"
                                               class="form-control" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <div>Upload Ảnh <i  readonly>Chọn nhiều ảnh tải lên theo thứ tự chọn ảnh</i></div>

                                        <input type="hidden" name="Image1" th:value="${pro.Image1}">
                                        <input type="file" name="photo_img" class="form-control" multiple>
                                        <input type="hidden" name="Image2" th:value="${pro.Image2}">
                                        <input type="hidden" name="Image3" th:value="${pro.Image3}">
                                        <input type="hidden" name="Image4" th:value="${pro.Image4}">
                                        <input type="hidden" name="Image5" th:value="${pro.Image5}">
                                        <input type="hidden" name="Image6" th:value="${pro.Image6}">
                                        <input type="hidden" name="Image7" th:value="${pro.Image7}">

                                    </div>
                                    <div class="form-group col-sm-6">
                                        <div>Số lượng: </div>
                                        <input type="number" name="Quantity" th:value="${pro.Quantity}"
                                               class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <div>Giá cả:</div>
                                        <input type="number" name="Unit_price" th:value="${pro.Unit_price}"
                                               class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <div>Ngày tạo sản phẩm: 	</div>

                                        <input type="date" name="Product_date" th:value="${pro.Product_date}"
                                               class="form-control" required>
                                    </div>
                                    <!--	--------------------Category------------------------------------------->
                                    <div class="form-group col-sm-6">
                                        <div>Loại sản phẩm</div>

                                        <select name="category.Category_id"  data-live-search="true" class="form-group col-sm-12 selectpicker show-tick" style="height: 36px;" >

                                            <div class="form-group selectpicker show-tick" th:each="c,state:${cates}">
                                                <option th:value="${c.Category_id}" >[[${c.name}]]</option>
                                            </div>
                                        </select>
                                    </div>
                                    <!--	--------------------Size------------------------------------------->
                                    <div class="form-group col-sm-6">
                                        <div>Size</div>
                                        <select name="size.Size_id"  data-live-search="true" class="form-group col-sm-12 selectpicker show-tick" style="height: 36px;">

                                            <div class="form-group selectpicker show-tick" th:each="s,state:${size}">
                                                <option th:value="${s.Size_id}" >[[${s.name}]]</option>
                                            </div>
                                        </select>
                                    </div>

                                    <!--	--------------------Material------------------------------------------->
                                    <div class="form-group col-sm-6">
                                        <div>Chất Liêu</div>
                                        <select name="material.Material_id"  data-live-search="true" class="form-group col-sm-12 selectpicker show-tick" style="height: 36px;" >

                                            <div class="form-group selectpicker show-tick" th:each="m,state:${materials}">
                                                <option th:value="${m.Material_id}" >[[${m.name}]]</option>
                                            </div>
                                        </select>
                                    </div>
                                    <!-------------------Colors------------------------------>
                                    <div class="form-group col-sm-6">
                                        <div>Màu sắc</div>
                                        <select name="color.Color_id"  data-live-search="true" class="form-group col-sm-12 selectpicker show-tick" style="height: 36px;" >

                                            <div class="form-group selectpicker show-tick" th:each="c,state:${colors}">
                                                <option th:value="${c.Color_id}" >[[${c.name}]]</option>
                                            </div>
                                        </select>
                                    </div>
                                    <!------------------------------------------------->
                                    <div class="form-group col-sm-6">
                                        <div>Thương hiệu</div>
                                        <!-- 								<inputxt" name="trademark.Name" th:value="${pro.trademark.Name}" -->
                                        <!-- 									class="form type="te-control"> -->
                                        <select name="trademark.Trademark_id" data-live-search="true" class="form-group col-sm-12 selectpicker show-tick" style="height: 36px;" >

                                            <div class="form-group selectpicker show-tick" th:each="t,state:${trads}">
                                                <option th:value="${t.Trademark_id}" >[[${t.Name}]]</option>
                                            </div>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <div>Miêu tả</div>
                                        <input type="text" name="Description" th:value="${pro.Description}"
                                               class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <div>Khuyến mãi</div>
                                        <input type="number" name="Distcount" th:value="${pro.Distcount}"
                                               class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <div>Trạng thái</div>
                                        <select class="form-control" name="Status"
                                                data-live-search="true" style="height: 36px;">

                                            <option hidden="true" th:value="${pro.Status}" th:if="${pro.Status}==true" >Hiển thị</option>
                                            <option hidden="true" th:value="${pro.Status}" th:if="${pro.Status}==false">Ẩn</option>

                                            <option value="true">Hiển thị</option>
                                            <option value="false">Ẩn</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-sm-6">
                                        <div>Đặc biệt</div>
                                        <select class="form-control" name="Special"
                                                data-live-search="true" style="height: 36px;">

                                            <option hidden="true" th:value="${pro.Special}" th:if="${pro.Special}==true" >Có</option>
                                            <option hidden="true" th:value="${pro.Special}" th:if="${pro.Special}==false">Không</option>

                                            <option value="true">Có</option>
                                            <option value="false">Không</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <div>Loại hàng</div>
                                        <select class="form-control" name="Lastest"
                                                data-live-search="true" style="height: 36px;">

                                            <option hidden="true" th:value="${pro.Lastest}" th:if="${pro.Lastest}==true" >Hàng mới</option>
                                            <option hidden="true" th:value="${pro.Lastest}" th:if="${pro.Lastest}==false">Hàng cũ</option>

                                            <option value="true">Hàng mới</option>
                                            <option value="false">Hàng cũ</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div>Chi tiết</div>
                                        <textarea type="text" cols="7" rows="5" name="Detail" th:value="${pro.Detail}"
                                                  class="form-control">[[${pro.Detail}]]</textarea>
                                    </div>
                                </div>
                                <i class="pull-left text-success" th:utext="${message}"></i> <br>
                                <button type="submit" class="btn btn-round btn-info" ><span class="glyphicon glyphicon-plus"></span> Thêm mới</button>
                                <a tH:href=@{/admin/product/detail} class="btn btn-round btn-default"><span class="glyphicon glyphicon-refresh"></span>Làm mới</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</main>
</body>
</html>