<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{user/layout/index :: dynamic(~{::main})}">


<body>
	<main>
		<div class="wrapper-cart" th:fragment="shopping_cart">
			<!-- =====  CONTAINER START  ===== -->
						<form enctype="multipart/form-data" method="post" action="#">
							<div class="table-responsive">
								<table class="table table-bordered">
									<thead>
										<tr class="tr">
											<td class="text-center">Hình ảnh</td>
											<td class="text-center">Tên sản phẩm</td>
											<td class="text-center">Khuyến mãi</td>
											<td class="text-center">Số lượng</td>
											<td class="text-center">Giá</td>
											<td class="text-center">Tổng</td>
											<td class="text-center">Xóa</td>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in cart.items" >
											<td class="text-center" style="width: 20%;"><a href="#"><img
													style="width: 60%;" src="/assets/images/{{item.image1}}"></a></td>
											<td class="text-center"><a href="#">{{item.name}}</a></td>
											<td class="text-center"><a href="#">{{item.distcount}}%</a></td>
											<td  class="text-center" style="width: 120px"><input
												ng-change="cart.checkBeforeSaveToLocalStorage(item.quantity,item.product_id)"
												ng-model="item.quantity" type="number" size="4" value="1"
												min="0" max="item.quantity" step="1" style="width: 100%"></td>
											<td class="text-center">{{item.unit_price | number :0}} Đ</td>
											<td class="text-center">{{item.quantity*item.unit_price-((item.quantity*item.unit_price)*item.distcount/100)
												| number:0}} Đ </td>
											<td class="text-center">
												<a ng-click="cart.remove(item.product_id)">
													<button class="btn btn-default">
														<b class="fa fa-trash"></b>
													</button>
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</form>



						<div class="wrapper-cart">
							<div class="clearfix">
								<div class="pull-right">
									<h3 class="mtb_10 text-right" style="padding: 0 65px;">Tổng giá trị đơn hàng</h3>
								</div>
								<div class="pull-left">
									<div class="form-group">
										<label for="voucher">Chọn mã giảm giá:</label>
										<select class="form-control" id="voucher" ng-model="voucher.voucherCode" ng-model-options="{ debounce: 500 }" ng-change="voucher.saveVoucherCode()">
											<option></option>
											<option th:each="item : ${vouchers}" th:value="${item.voucherName}" th:text="${item.voucherName}"></option>
										</select>
<!--										<input type="text" class="form-control" id="voucher" ng-model="voucher.voucherCode"-->
<!--											   ng-model-options="{ debounce: 500 }"	   ng-change="voucher.saveVoucherCode()">-->
										<div ng-if="voucher.errorMessage !== ''" class="error-message">{{ voucher.errorMessage }}</div>

									</div>

								</div>
							</div>
							<div class="col-sm-offset-8" style="padding: 0 65px;">
								<table class="table table-bordered">
									<tbody>
										<tr>
											<td class="text-right"><strong>Tổng :</strong></td>
											<td class="text-right"> {{cart.amount1 | number:0}} Đ</td>
										</tr>
										<tr>
											<td class="text-right"><strong>Phí ship :</strong></td>
											<td class="text-right"> 24.000 Đ</td>
										</tr>
										<tr>
											<td class="text-right"><strong>Khuyến mãi</strong></td>
											<td class="text-right"> {{cart.amount2 | number:0}} Đ</td>
										</tr>
										<tr>
											<td class="text-right"><strong>Mã giảm giá</strong></td>
											<td class="text-right"> {{voucher.voucherPrice | number:0}} Đ</td>
										</tr>
										<tr>
											<td class="text-right"><strong>Còn:</strong></td>
											<td class="text-right"> {{cart.amount-voucher.voucherPrice + 24000 | number:0}} Đ</td>
										</tr>
										
									</tbody>
								</table>
							</div>
						</div>
					</div>
						
						<div class="wrapper-cart1">
						<a th:href="@{/product/list}">
							<input class="btn pull-left mt_30" type="submit" style="margin-right: 5px"
								value="Tiếp tục mua hàng" />
						</a>
						
						<a ng-click="cart.clear()" style= "margin-left: 10px;">
						<input class="btn pull-left mt_30" type="submit"
								value="Xóa giỏ hàng" />
						</a>
						<a th:href="@{/order/checkout}" >
							<input class="btn pull-right mt_30" type="submit" 
								value="Thanh toán khi nhận hàng" />
						</a>
						<a href='/thanhtoanonline'>
							<input class="btn pull-right mt_30"  style="margin-right: 10px;" type="submit" 
								value="Thanh toán bằng paypal" />
						</a>
					</div>
					<br>
					
			

	</main>
</body>

</html>